{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block title %}Definir nova senha{% endblock %}
{% block content %}
    <div class="container">
        <h2>Definir nova senha</h2>
        {% if validlink %}
            {% include 'components/form.html' with button_text="Salvar nova senha" %}
        {% else %}
            <p>
                O link de redefinição é inválido ou já expirou. <a href="{% url 'password_reset' %}"
                >Solicite um novo</a>.
            </p>
        {% endif %}
    </div>
{% endblock %}
