{% extends 'base/base.html' %}
{% load i18n %}
{% block title %}{% translate "Change password" %}{% endblock %}
{% block content %}
<div class="container">
    <h1>{% translate "Change password" %}</h1>
    {% if validlink %}
    {% include 'base/form.html' with button="Change" %}
    {% else %}
    {% blocktranslate %}
    <h1>Password change failed</h1>
    <p>The link used to change the password is <b>invalid</b>.</p>
    <p>This occurred because this link has already been used.</p>
    <p>Request a new password reset.</p>
    {% endblocktranslate %}
    {% endif %}
</div>
{% endblock %}