{% extends 'base/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{{ get_user }}{% endblock %}
{% block keywords %}Profile{% endblock %}
{% block description %}Profile: {{ user.get_username }}.{% endblock %}
{% block content %}
{% translate "Not registered" as not_registered %}
{% with get_user=user.get_username %}
<div class="container">
    <div class="card mb-4">
        <div class="card-header">
            <b>{% translate "Name" %}</b>: {{ user.get_full_name|default:not_registered }}.
        </div>
        <div class="card-body">
            <p class="card-text"><b>{% translate "User" %}</b>: @{{ get_user }}.</p>
            <p class="card-text">
                <b>Email</b>: {{ user.email|default:not_registered }}.
            </p>
            <p class="card-text"><b>{% translate "Created in" %}</b>: {{ user.date_joined }}.</p>
            <a class="btn btn-primary me-4" href="{% url 'accounts:update' pk=user.pk username=get_user %}">
                {% translate "Update" %}
            </a>
            {% if user.is_superuser %}
            <a class="btn btn-warning" href="{% url 'admin:index' %}">
                Django admin
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endwith %}
{% endblock %}

