<ul class="navbar-nav me-auto">
    <li class="nav-item dropdown mx-3">
        <a
            id="themeLabel"
            aria-expanded="false"
            class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            href="#"
            role="button"
        >
            Tema
        </a>

        <ul class="dropdown-menu">
            <li>
                <button class="dropdown-item" type="button" data-theme="light">
                    <i class="bi bi-sun"></i>&nbsp;Claro
                </button>
            </li>
            <li>
                <button class="dropdown-item" type="button" data-theme="dark">
                    <i class="bi bi-moon"></i>&nbsp;Escuro
                </button>
            </li>
            <li>
                <button class="dropdown-item" type="button" data-theme="system">
                    <i class="bi bi-circle-half"></i>&nbsp;Sistema
                </button>
            </li>
        </ul>
    </li>
</ul>
